body{
  font-family: Helvetica;
}
.menu h2{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.menu a,
.menu p,
.bottom a {
  font-size: 18px;
  color: white;
  text-align: center;
}
.menu {
  background-image: url("../resources/images/the-flatiron-building.png");
}
.process h2 {
  font-size: 32 px;
  font-weight: bold;
}
.process h5,
.rest h5  {
  font-size: 23px;
  font-weight: bold;
}
.process,
.rest {
  text-align: center;
}
.process p,
.rest p {
  font-size: 14px;
}
.smallbanner {
  background-image: url("../resources/images/the-flatiron-building.png");
}
.smallbanner h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.bottom p{
  color: white;
  font-size: 11px;
  background-color: dimgray;
}
